venv/
__pycache__/
*.pyc
*.pyo
.env
*.sqlite3
staticfiles/
media/
.DS_Store
# Logs
*.log
logs/
daphne_err.log
daphne.combined.log
daphne.log
daphne.stderr.log
daphne.stdout.log
daphne_err.log
daphne.log
dump.rdb


